{% include './includes/header.html' %}
  <div class="container mt-4">
    <h2>Welcome to the Dashboard</h2>

    {% if user %}
        <div class="card mt-4">
            <div class="card-header">
                User Information
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text">Email: {{ user.email }}</p>
                <p class="card-text">Phone: {{ user.phone }}</p>
                <p class="card-text">Location: {{ user.location }}</p>
            </div>
        </div>

        <!-- Button to toggle the "Create a New Post" form -->
        <a href="/trips/create" id="togglePostFormBtn" class="btn btn-primary mt-3">Create a Trip</a>

       <!-- Create a New Post form -->
    <a href="/trips" id="checkAvailableTripsBtn" class="btn btn-primary mt-3">Check Available Trips</a>

    <!-- Button to check owned trips -->
    <a href="/trips/owned_trips" class="btn btn-primary mt-3">My Trips</a>

    
        <!-- Form for creating a new post (initially hidden) -->
        <div class="card mt-4" id="postFormCard" style="display: none;">
            <div class="card-header">
                Create a New Trip
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="/trips/create">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="content">Content:</label>
                        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                  
                </form>
            </div>
        </div>
    

    <!--<a href="/logout" class="btn btn-danger mt-3">Logout</a> -->

    <form method="POST" action="/logout">
    <button type="submit" onclick="return confirm('Are you sure you want to logout?')" class="btn btn-danger mt-3" >Logout</button>

      
    </form>
    
    
    {% else %}
        <p>Please <a href="/login">login</a> to access the dashboard.</p>
    {% endif %}
</div>
{% include './includes/footer.html' %}
